@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

.menuContainer {
  position: fixed;
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: #000019;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  left: 0;
  z-index: 110;
  /*  & .navhidde {
transition: 5s;
} */
}

.menuContainer_fotoNombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0 2rem;
  text-decoration: none;
}

.menuContainer_fotoNombre_img {
  background-image: url("https://dl.dropboxusercontent.com/s/411lf2pefbdb1py/josttme_comp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.menuContainer_fotoNombre h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.menuContainer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #00091f;
}

.menuContainer_nav-encendido a,
.menuContainer_nav-apagado a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 25%;
      grid-template-columns: 20% 1fr 25%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 1rem 1rem;
}

.menuContainer_nav-encendido a span,
.menuContainer_nav-apagado a span {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.menuContainer_nav-encendido a i,
.menuContainer_nav-apagado a i {
  text-align: center;
  font-size: 1.5rem;
}

.menuContainer_nav-encendido:hover {
  background-color: rgba(0, 0, 21, 0.3);
  color: rgba(0, 211, 255, 0.8);
}

.menuContainer_nav-apagado a {
  color: rgba(255, 255, 255, 0.13);
}

.menuContainer.navhidde {
  left: -80%;
  visibility: hidden;
}

.burgerContainer {
  /* display: none; */
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 110;
}

.burgerContainer_burger {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.13);
  /* background: rgba(0, 143, 173, .13); */
}

.burgerContainer_burger span {
  width: 30px;
  height: 4px;
  background-color: #000019;
  border-radius: 9px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burgerContainer_burger.open span:nth-child(1) {
  width: 0%;
}

.burgerContainer_burger.open span:nth-child(2) {
  position: relative;
  top: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burgerContainer_burger.open span:nth-child(3) {
  bottom: 3px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burgerContainer_burger.open span:nth-child(4) {
  width: 0%;
}

main {
  position: relative;
}

.homecontainer {
  width: 100vw;
  height: 100vh;
  /* background-color: $color-primario; */
  background-position: center;
}

.homecontainer_photogradient {
  position: relative;
  background-image: url("https://dl.dropboxusercontent.com/s/xje2eb8rat1umub/puerto.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  background-position: calc(100% - 30%);
  -o-object-fit: cover;
     object-fit: cover;
  /*   &_gradient {
      display: none;
    } */
}

.homecontainer_photogradient__oscuro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.homecontainer_nombrehome {
  position: absolute;
  top: 55%;
  left: 20%;
  width: auto;
  z-index: 107;
}

.homecontainer_nombrehome span,
.homecontainer_nombrehome h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(86deg, #0085b8 0%, #0045c6 41%, #0045c6 63%, #0085b8 100%);
  /*       background: linear-gradient(90deg, rgba(0, 53, 187, 1) 27%, rgba(0, 24, 180, 1) 44%, rgba(3, 10, 163, 1) 65%, rgba(0, 53, 187, 1) 91%); */
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 1.8s linear infinite;
          animation: textclip 1.8s linear infinite;
  -webkit-text-stroke: .9px #000019;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.homecontainer_nombrehome span {
  font-weight: 800;
}

.homecontainer_nombrehome h1 {
  text-transform: uppercase;
}

.social {
  position: fixed;
  bottom: 2rem;
  right: auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 110;
}

.social_center {
  width: 20%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social a {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  text-decoration: none;
  margin: 0 .8rem;
}

.social a:hover {
  background-color: #000019;
  color: #00a0bf;
}

@media (min-width: 360px) {
  .menuContainer {
    padding-top: 5rem;
  }
  .social_center a {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}

@media (min-width: 400px) {
  .menuContainer_fotoNombre {
    padding: 4rem 0 5rem;
  }
  .menuContainer img {
    width: 7rem;
    height: 7rem;
  }
  .menuContainer h2 {
    font-size: 2.2rem;
  }
  .menuContainer_nav {
    width: 60%;
    margin-top: 3rem;
  }
  .menuContainer_nav-encendido a,
  .menuContainer_nav-apagado a {
    padding: 1rem 1rem;
  }
  .menuContainer_nav-encendido a span,
  .menuContainer_nav-apagado a span {
    font-size: 1.7rem;
  }
  .menuContainer_nav-encendido a i,
  .menuContainer_nav-apagado a i {
    font-size: 1.9rem;
  }
  .social_center a {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
  }
  .homecontainer_nombrehome span,
  .homecontainer_nombrehome h1 {
    font-size: 4rem;
    font-weight: 800;
  }
}

@media (min-width: 840px) {
  .homecontainer_photogradient {
    background-size: 100% auto;
  }
}

@media (min-width: 1000px) {
  .menuContainer {
    position: fixed;
    top: 0;
    width: 30%;
    left: 0;
  }
  .menuContainer.navhidde {
    left: 0;
    visibility: visible;
  }
  .menuContainer_fotoNombre h2 {
    font-size: 2rem;
  }
  .menuContainer_nav {
    width: 56%;
  }
  .menuContainer_nav-encendido a,
  .menuContainer_nav-apagado a {
    padding: 1.3rem 2rem;
  }
  .menuContainer_nav-encendido a span,
  .menuContainer_nav-apagado a span {
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
  .menuContainer_nav-encendido a i,
  .menuContainer_nav-apagado a i {
    font-size: 1.5rem;
  }
  .burgerContainer {
    display: none;
  }
  .homecontainer {
    width: 70%;
    margin-left: 30%;
    background-color: #000019;
  }
  .homecontainer_photogradient {
    background-size: auto 100%;
    width: auto;
    background-position: calc(100% - 30%);
  }
  .homecontainer_photogradient__gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: #000019;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 25, 0)), color-stop(90%, rgba(0, 0, 25, 0.913603)), to(#000019));
    background: linear-gradient(90deg, rgba(0, 0, 25, 0) 0%, rgba(0, 0, 25, 0.913603) 90%, #000019 100%);
    z-index: 120;
  }
  .homecontainer_nombrehome {
    top: 55%;
    left: 45%;
    width: auto;
  }
  .homecontainer_nombrehome span,
  .homecontainer_nombrehome h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  .social_center a {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .menuContainer {
    width: 20%;
  }
  .menuContainer_nav {
    width: 65%;
  }
  .menuContainer_nav-encendido a,
  .menuContainer_nav-apagado a {
    padding: 1.2rem 2rem;
  }
  .menuContainer_nav-encendido a span,
  .menuContainer_nav-apagado a span {
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
  .menuContainer_nav-encendido a i,
  .menuContainer_nav-apagado a i {
    font-size: 1.5rem;
  }
  .homecontainer {
    width: 80%;
    margin-left: 20%;
  }
  .homecontainer_photogradient {
    background-size: 100% auto;
  }
  .social {
    width: 60%;
  }
  .homecontainer_nombrehome {
    top: 50%;
    left: 40%;
  }
}
/*# sourceMappingURL=main.css.map */