@media (min-width: 360px) {
  .menuContainer {
    padding-top: 5rem;
  }
  .social_center a {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}

@media (min-width: 400px) {
  .menuContainer {
    &_fotoNombre {
      padding: 4rem 0 5rem;
    }
    & img {
      width: 7rem;
      height: 7rem;
    }
    & h2 {
      font-size: 2.2rem;
    }
    &_nav {
      width: 60%;
      margin-top: 3rem;
      &-encendido a,
      &-apagado a {
        padding: 1rem 1rem;
        & span {
          font-size: 1.7rem;
        }
        & i {
          font-size: 1.9rem;
        }
      }
    }
  }
  .social_center a {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
  }
  .homecontainer_nombrehome span,
  .homecontainer_nombrehome h1 {
    font-size: 4rem;
    font-weight: 800;
  }
}

@media (min-width: 835px) {
  .homecontainer_photogradient {
    background-size: 100% auto;
  }
}

@media (min-width: 1000px) {
  .menuContainer {
    position: fixed;
    width: 30%;
    &.navhidde {
      left: 0;
      visibility: visible;
    }
    &_fotoNombre h2 {
      font-size: 2rem;
    }
    &_nav {
      width: 56%;
      &-encendido a,
      &-apagado a {
        padding: 1.3rem 2rem;
        & span {
          margin-left: 1.5rem;
          font-size: 1.3rem;
        }
        & i {
          font-size: 1.5rem;
        }
      }
    }
  }
  main {
    position: relative;
    width: 70%;
    left: 30%;
  }
  .burgerContainer {
    display: none;
  }
  .homecontainer {
    width: 100%;
    background-color: $color-primario;
    &_photogradient {
      background-size: auto 100%;
      &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background-color: $color-primario;
        background: linear-gradient(90deg, rgba(0, 0, 25, 0) 0%, rgba(0, 0, 25, 0.9136029411764706) 90%, $color-primario 100%);
        z-index: 120;
      }
    }
    &_nombrehome {
      top: 50%;
      left: 20%;
      width: auto;
      & span,
      & h1 {
        font-size: 4rem;
        font-weight: 700;
      }
    }
  }
  .social_center {
    margin: 0 0 0 20px;
    & a {
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
    }
  }
}

@media (min-width: 1100px) {
  main {
    position: relative;
    width: 80%;
    left: 20%;
  }
  .menuContainer {
    width: 20%;
    &_nav {
      width: 65%;
      &-encendido a,
      &-apagado a {
        padding: 1.2rem 2rem;
        & span {
          margin-left: 1.5rem;
          font-size: 1.3rem;
        }
        & i {
          font-size: 1.5rem;
        }
      }
    }
  }
  .homecontainer {
    &_photogradient {
      background-size: 100% auto;
    }
  }
}