      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 62.5%;
        font-family: 'Nunito', sans-serif;
      }
      
      body::-webkit-scrollbar {
        width: 10px;
        background: rgb(0, 0, 28);
        background: linear-gradient(0deg, rgba(0, 0, 28, 1) 0%, rgba(0, 13, 38, 1) 30%, rgba(0, 25, 50, 1) 72%, rgba(0, 25, 50, 1) 89%);
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: rgba($color-primario, .5);
        border-radius: 20px;
        background-color: rgba($color-secundary, .1);
      }